body
{
    background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    font-family: 'Gloria Hallelujah', cursive;
     background-attachment: fixed;
}



h1
{
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 60px;
    color: #590000;
    margin-left: 20%;
    text-shadow: -2px 2px 6px #bbb5a3;
}

pre
{
    font-family: 'Gloria Hallelujah', cursive;
    color: antiquewhite;   
    font-size: 110%;
    text-shadow: -2px 2px 6px #bbb5a3;
}
#wrapper 
{
    width: 550px;
    margin: 0 auto;
    padding-top: 70vh;
    padding-bottom: 300px;
}
#monster
{
    
    height: 70vh;
    max-height: 65vh;
    width: 100%;
    position: fixed;
    top: 0;  
    z-index: 999;
}
img
{
    height: 70vh;
    min-width: 600px;
    display: block;
    margin: 0 auto;
}

footer
{
    font-family: 'Gloria Hallelujah', cursive;
    color: antiquewhite; 
    width: 550px;
    margin: 0 auto;
    padding-bottom: 100px;
}

#blocker {
    background: black;
    width: 100%;
    height: 25vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 800;
}

span
{
    color: #b70000;
    font-size: 110%;
    text-shadow: -2px 2px 6px #bbb5a3;
/*lightSourceY  lightSourceX blur color */
}